<header class="grid header-app">
  <div class="col-20">
    <%= image_tag('wrkt-logo.png') %>
  </div>
  <div class="col-05"></div>
  <div class="col-70">
    <h1>Hello, <%= @user.first_name + ' ' + @user.last_name %></h1>
    <div class="quote">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas cumque totam ratione at a dolores deserunt corrupti. <span class="quote-author">- Someone</span></p>
    </div>
  </div>
  <div class="col-100">
    <%= link_to "new workout" %>
  </div>
</header>