.header-app{
  border-bottom: 1px solid white;
  img{
    width: 100%;
  }

  a.sign-out{
    text-align: right;
    display: block;
    margin: 2% 0;
    color: $brand;
  }

  a.btn{
    display: block;
    border: 3px solid $brand;
    color: $brand;
    padding: 3% 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align:center;
    margin: 4% 0;
    letter-spacing: 2px;

    &:hover{
      color: transparentize($brand, 0.3);
    }
  }
}

.quote{
  color: $light-gray;

  span.quote-author{
    color: transparentize($brand, 0.3);
  }
}

section.wrkts{
  border: 1px solid white;
  margin: 5% 0;
  padding: 2%;
}

section.wrkt-info{
  border-bottom: 1px solid $light-gray;
  padding: 3% 0;

  p.date{
    color: $light-gray;
  }

  p.mood{
    color:white;
    margin: 2% 0;
  }
}

.modal{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
}

a.close_window{
  font-size: 1.5em;
  text-align: right;
  color: $brand;
  display: block;

  &:hover{
    color: transparentize($brand, 0.3)
  }
}

.hide{
  display:none;
}

.show{
  display: block;
}

.dark{
  background-color: black;
}

